{% extends 'base.html' %}
{% load static %}

{% block body %}
<div id="homepage">
    <div class="containers">
        <div class="backdrop">
            <div class="home-text">
            <h1><bold><u>Luqman Maulana Rizki</u></bold></h1>
            <h2>Personal Website</h2>
            </div>
        </div>
    </div>
</div>
<div id="contact">
    <div id="contact-card">
        <h1 class="h1-title"><b>Find Me More!</b></h1>
        <table class="contact-table">
            <tr>
                <td><a href="#"><img class="contact-logo" src="{% static 'email.png' %}" alt="My Email"></a></td>
                <td>luqmanmaulanar@gmail.com</td>
            </tr>
            <tr>
                <td><a href="https://www.linkedin.com/in/luqman-maulana-rizki-83545814a"><img class="contact-logo" src="{% static 'linkedin.png' %}" alt="My LinkedIn"></a></td>
                <td><a href="https://www.linkedin.com/in/luqman-maulana-rizki-83545814a">https://www.linkedin.com/in/luqman-maulana-rizki-83545814a</a></td>
            </tr>
            <tr>
                <td><a href="https://gitlab.com/Luqmanmaulana"><img class="contact-logo" src="{% static 'gitlab.png' %}" alt="My Gitlab"></a></td>
                <td><a href="https://gitlab.com/Luqmanmaulana">https://gitlab.com/Luqmanmaulana</a></td>
            </tr>
            <tr>
                <td><a href="https://instagram.com/luqman_maulana"><img class="contact-logo" src="{% static 'instagram.png' %}" alt="My Instagram"></a></td>
                <td><a href="https://instagram.com/luqman_maulana">luqman_maulana</a></td>
            </tr>
        </table>
    </div>
</div>
{% endblock body %}
    