{% extends 'base.html' %}
{% load static %}

{% block body %}
<div id="skills">
    <h1 class="h1-title"><u>Skills</u></h1>
        <table class="skill-table">
            <tr class="row">
                <td>Python</td>
                <td>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star unchecked"></span>     
                </td>
            </tr>
            <tr class="row">
                <td>Java</td>
                <td>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star unchecked"></span>
                </td>
            </tr>
            <tr class="row">
                <td>HTML</td>
                <td>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star unchecked"></span>
                    <span class="fa fa-star unchecked"></span>
                </td>
            </tr>
            <tr class="row">
                <td>CSS</td>
                <td>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star unchecked"></span>
                    <span class="fa fa-star unchecked"></span>
                    <span class="fa fa-star unchecked"></span>
                </td>
            </tr>
        </table>      
</div>
{% endblock body %}
    