{% extends 'base.html' %}
{% load static %}


{% block body %}
    <div class="soon">
        <div class="containers">
            <div class="backdrop">
                <div class="home-text">
                <h1><bold><u>Coming Soon</u></bold></h1>
                <h2>Jadwal Harian</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
    
